<header>
    <h1>Kevin Wunsch | </h1>  <h2 id="hello_world"></h2>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}#0">Home</a></li>
            <li><a href="{{ '/' | relative_url }}#1">Digital Humanities</a></li>
            <li><a href="{{ '/' | relative_url }}#2">Web Development</a></li>
            <li><a href="{{ '/' | relative_url }}#3">Research Projects</a></li>
            <li><a href="{{ '/' | relative_url }}#4">Teaching & Mentorship</a></li>
            <li><a href="{{ '/' | relative_url }}#5">Connect & Collaborate</a></li>
        </ul>
    </nav>
</header>
